<ion-view view-title="Saldo">
      <ion-content>
          <ion-refresher
              pulling-text="Puxe para atualizar"
              on-refresh="load()">
          </ion-refresher>
          <ion-list class="list-manei">            
            
            <ion-item ng-repeat="resumo in resumos" 
                      class="item-manei ok">
                
                <span data-ng-bind="resumo.date | date:'MM/yyyy'"></span>
                <span data-ng-bind="resumo.ammount | currency:'R$'" style="float: right;"></span>
                                
            </ion-item>
        </ion-list>
      </ion-content>
</ion-view>
