<ion-view view-title="OrdersResume">
      <ion-nav-buttons side="right">
            <button class="button button-clear button-positive" menu-toggle="right" ui-sref="app.home">
                  <span class="icon ion-android-expand"> Home</span>
            </button>
      </ion-nav-buttons>
      <ion-content>

            <div class="list card">
                  <div class="item item-divider">
                        <span>ID : </span>
                        <span data-ng-bind="order.IDHash"></span>
                  </div>
                  <div class="item item-body">
                        <b qrcode="qr" class="text-center"></b>
                  </div>
                  <div class="item item-divider">
                        <span>Limite : </span>
                        <span data-ng-bind="balanceLimite || 0 | currency : 'R$ '"></span>
                        <br>
                        <span>Total : </span>
                        <span data-ng-bind="order.total | currency : 'R$ '"></span>
                  </div>
            </div>

      </ion-content>
</ion-view>
