<ion-view view-title="Meus Dados" class="fundo">
      <ion-content overflow-scroll="false" padding="false">
            <div class="list card">
                  <div class="item item-divider">Store</div>
                  <div class="item item-body">
                        <h2 class="text-center">Dados da empresa</h2>
                        <div>
                              Empresa ja cadastrada, preencha o formulário da estação.
                        </div>

                        <div class="list list-inset">
                              <label class="item-input">
                                    <span>Nome Da Estação: </span>
                              </label>
                              <label class="item item-input item-stacked-label">
                                    <input type="text" placeholder="Nome Da Estação" data-ng-model="mobile.seasonName">
                              </label>
                              <br/>
                              <label class="item-input">
                                    <span>Confirme o PIN enviado para o Master: </span>
                              </label>
                              <label class="item item-input">
                                    <i class="icon ion-checkmark-round placeholder-icon"></i>
                                    <input type="tel" ui-mask="999-999" ng-model="mobile.confirmationCodeSeason">
                              </label>
                              <div>
                                    <a class="button button-balanced button-block" data-ng-click="saveSeason(mobile);">
                              Salvar
                        </a>
                              </div>
                        </div>
                  </div>
            </div>
      </ion-content>
</ion-view>
